<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome {{name}}</title>
</head>
<body>
  <h3>Account Verified!</h3>
  <p>Hi, Welcome {{name}}.</p>
  <p>Thanks for verifying your email address.</p>
  <p>Kindly login to your account using the login: <b><a href="{{link}}">Login</a></b></p>
</body>
</html>