<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Request</title>
</head>
<body>
  <h3>Reset Password Request</h3>
  <p>Hi, {{name}}.</p>
  <p>Kindly reset your password using the link</p>
  <p><b><a href="{{link}}">Reset Password</a></b></p>
</body>
</html>