<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset Successful</title>
</head>
<body>
  <h3>Password reset Successful</h3>
  <p>Hi, {{name}}.</p>
  <p>Your Password was reset successfully!</p>
  <p><b>Thank You.</b></p>
</body>
</html>